%p.home-title__header Creep Score

%div.home-search__div
  = form_tag search_path, :method => 'get' do
    = text_field_tag :search, params[:search], class: "home-search__input"
    = submit_tag "Search", :name => nil, class: "home-search__button"
