// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.home-title__header {
  font-size: 3em;
  text-align: center;
  padding-top: 10%;
  padding-bottom: 2%;
}

.home-search-container{
    margin: auto;
    width: 50%;
    padding: 10px;
}

.region {
  width: 15%;
  display: inline;
  input {
    display: none;
  }
  label {
    border: 1px solid black;
  }
  label.active{
      background-color:#081c511;
  }
}

.home-search__div {
  width: 100%;
  position: relative;
  text-align: center;
}

.home-search__button {
  width: 15%;
  padding: 10px 0;
}

.home-search__input {
  margin: 0;
  text-align:left;
  width: 70%;
  padding: 6px 6px;
	margin-bottom: 15px;
}

.region-buttons{
  button {
    
  }
}
